body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    position: absolute;
    display: flex;
    width: 90%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.grid-field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 2px solid black;
}

.elem {
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 30px;
}

.elem:hover {
    background-color: LightGray;
    cursor: pointer;
}

.input {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.grid-input-buttons {
    display: grid;
    grid-template-columns: repeat(3, 140px);
    grid-template-rows: repeat(3, 140px);
    gap: 7px;
}

.input-num {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: Gainsboro;
    color: MidnightBlue;
    font-size: 55px;
    border-radius: 10px;
}

.input-num:hover {
    cursor: pointer;
    background-color: LightGray;
}


.button1 {
    margin: 10px auto;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: MidnightBlue;
    color: white;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    transition: 0.1s linear;
}

.button1:hover {
    background-color: MediumBlue;
}

.interact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 1px solid orange;
    margin-bottom: 10px;
}